# Import libraries

In [8]:
from cassandra.cluster import Cluster
from prettytable import PrettyTable

# Define Cassandra connection details

In [9]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

# Use keyspace

In [30]:
keyspace_name = "IsetRades"

session.execute(f"""USE {keyspace_name}""")
print(f"keyspace {keyspace_name} is being used !!!!")

keyspace IsetRades is being used !!!!

# Create table

define table strucutre

In [29]:
table_name = "annuaire"
columns = [
    {"name": "id", "type": "int"},
    {"name": "name", "type": "text"},
    {"name": "phone_number", "type": "text"}
]

%store table_name
column_names = [column["name"] for column in columns]
%store column_names

print( f"{table_name}: {columns}" )

Stored 'table_name' (str)
Stored 'column_names' (list)
annuaire: [{'name': 'id', 'type': 'int'}, {'name': 'name', 'type': 'text'}, {'name': 'phone_number', 'type': 'text'}]

creating the table

In [27]:
column_definitions = ', '.join([f'{column["name"]} {column["type"]}' for column in columns])
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {column_definitions},
    PRIMARY KEY ({columns[0]["name"]})
);
"""

try:
    session.execute(create_table_query)
    print(f'Table "{table_name}" created successfully.')
except Exception as error:
    print(f'Error creating table "{table_name}":', error)

Table "annuaire" created successfully.

# Describe Table

In [36]:
table_name = "annuaire"
describe_table_query = f'DESCRIBE TABLE {table_name};'

try:
    result = session.execute(describe_table_query)

    # Create a PrettyTable object
    table = PrettyTable(result.column_names)

    # Populate the table with rows from the result
    for row in result:
        table.add_row(row)

    # Print the table
    print(table)

except Exception as error:
    print('Error describing table:', error)

+---------------+-------+----------+------------------------------------------------------------------------------------------------------------------------------------------------+
| keyspace_name |  type |   name   |                                                                create_statement                                                                |
+---------------+-------+----------+------------------------------------------------------------------------------------------------------------------------------------------------+
|   isetrades   | table | annuaire |                                                       CREATE TABLE isetrades.annuaire (                                                        |
|               |       |          |                                                                id int PRIMARY KEY,                                                             |
|               |       |          |                                                                     name text,                                                                 |
|               |       |          |                                                                 phone_number text                                                              |
|               |       |          |                                                     ) WITH additional_write_policy = '99p'                                                     |
|               |       |          |                                                         AND bloom_filter_fp_chance = 0.01                                                      |
|               |       |          |                                            AND caching = {'keys': 'ALL', 'rows_per_partition': 'NONE'}                                         |
|               |       |          |                                                                  AND cdc = false                                                               |
|               |       |          |                                                                  AND comment = ''                                                              |
|               |       |          |     AND compaction = {'class': 'org.apache.cassandra.db.compaction.SizeTieredCompactionStrategy', 'max_threshold': '32', 'min_threshold': '4'} |
|               |       |          |                     AND compression = {'chunk_length_in_kb': '16', 'class': 'org.apache.cassandra.io.compress.LZ4Compressor'}                  |
|               |       |          |                                                              AND memtable = 'default'                                                          |
|               |       |          |                                                             AND crc_check_chance = 1.0                                                         |
|               |       |          |                                                            AND default_time_to_live = 0                                                        |
|               |       |          |                                                                AND extensions = {}                                                             |
|               |       |          |                                                           AND gc_grace_seconds = 864000                                                        |
|               |       |          |                                                           AND max_index_interval = 2048                                                        |
|               |       |          |                                                        AND memtable_flush_period_in_ms = 0                                                     |
|               |       |          |                                                            AND min_index_interval = 128                                                        |
|               |       |          |                                                            AND read_repair = 'BLOCKING'                                                        |
|               |       |          |                                                           AND speculative_retry = '99p';                                                       |
+---------------+-------+----------+------------------------------------------------------------------------------------------------------------------------------------------------+

# Alter table (adding a new column)

In [33]:
table_name = "annuaire"
column_name = "partition_key_column"
column_type = "int"

alter_table_query = f"""
ALTER TABLE {table_name}
ADD {column_name} {column_type};
"""

try:
    session.execute(alter_table_query)
    print(f'Table "{table_name}" altered successfully.')
except Exception as error:
    print('Error altering table:', error)

Table "annuaire" altered successfully.

# Aler table (changing an existing column)

In [28]:
# Changing an existing column
table_name = "annuaire"
existing_column_name = "last_name"
new_column_type = "varchar"  # Change the type as needed

alter_change_column_query = f"""
ALTER TABLE {table_name}
ALTER {existing_column_name} TYPE {new_column_type};
"""

try:
    session.execute(alter_change_column_query)
    print(f'Column "{existing_column_name}" in table "{table_name}" altered successfully.')
except Exception as error:
    print('Error changing column:', error)

Error changing column: Error from server: code=2200 [Invalid query] message="Altering column types is no longer supported"

# Alter table (dropping an existing column)

In [35]:
able_name = "annuaire"
column_to_drop = "partition_key_column"

alter_drop_column_query = f"""
ALTER TABLE {table_name}
DROP {column_to_drop};
"""

try:
    session.execute(alter_drop_column_query)
    print(f'Column "{column_to_drop}" dropped from table "{table_name}" successfully.')
except Exception as error:
    print('Error dropping column:', error)

Column "partition_key_column" dropped from table "annuaire" successfully.

# Drop table

In [38]:
table_name = "annuaire"

drop_table_query = f'DROP TABLE IF EXISTS {table_name};'

try:
    session.execute(drop_table_query)
    print(f'Table "{table_name}" dropped successfully.')
except Exception as error:
    print('Error dropping table:', error)

Table "annuaire" dropped successfully.

# Close Connection

In [ ]:
session.shutdown()
cluster.shutdown()