# Import libraries

In [56]:
from cassandra.cluster import Cluster
from prettytable import PrettyTable

In [12]:
table_name = "annuaire"
columns = ["id","name","phone_number"]

# Define Cassandra connection details

In [91]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

# Use keyspace

In [93]:
keyspace_name = "IsetRades"

session.execute(f"""USE {keyspace_name}""")
print(f"keyspace {keyspace_name} is being used !!!!")

keyspace IsetRades is being used !!!!

# Select Command

select

In [94]:
selectQuery = f"SELECT {', '.join(columns)} FROM {table_name};"
    
try:
    result = session.execute(selectQuery)
    print(f'Table "{table_name}" data:')
    print(result.current_rows)
except Exception as error:
    print(f'Error selecting data from table "{table_name}": {error}')

Error selecting data from table "annuaire": Error from server: code=2200 [Invalid query] message="table annuaire does not exist"

select using order by ASC

select using order by DESC

# Insert Command

In [79]:
# Assuming 'id' is the partition key and 'name' is a clustering column
insert_query = f"INSERT INTO {table_name} (id, name, phone_number) VALUES (3, 'Jane Doe', '456-456-5847');"

# Execute the query
try:
    session.execute(insert_query)
    print(f'Data inserted into table "{table_name}" successfully.')
except Exception as error:
    print(f'Error inserting data into table "{table_name}": {error}')

Data inserted into table "annuaire" successfully.

# Update Command

In [72]:
# Assuming 'id' is the partition key and 'name' is a clustering column
update_query = f"UPDATE {table_name} SET phone_number = '987-654-3210' WHERE id = 1;"

# Execute the query
try:
    session.execute(update_query)
    print(f'Data updated in table "{table_name}" successfully.')
except Exception as error:
    print(f'Error updating data in table "{table_name}": {error}')

Data updated in table "annuaire" successfully.

# Delete Command

In [88]:
# Assuming 'id' is the partition key and 'name' is a clustering column
delete_query = f"DELETE FROM {table_name} WHERE id = 1;"

# Execute the query
try:
    session.execute(delete_query)
    print(f'Data deleted from table "{table_name}" successfully.')
except Exception as error:
    print(f'Error deleting data from table "{table_name}": {error}')

Data deleted from table "annuaire" successfully.

# Close Connection

In [ ]:
session.shutdown()
cluster.shutdown()